body{
	background-color : #f5f6f7 ;
}
.container{
	width: auto;
	margin: 0px;
	padding: 0px;
}
.navbar{
	
	margin-bottom: 0px !important;
	background-color: #ffffff !important;
}
.navbar-brand{
	background-color: #2BBBAD;
	padding-top:0px !important;
	color: #ffffff !important;
}
.navbar-brand > span:hover{
	background-color: #2BBBAD;
}
.brandName{

	font-weight :bolder;
}
a{
	color: #000000 !important;
}
.sideHeader{
	background-color: #686868;
color: #ffffff;
}
.whiteFont{
	color: #ffffff !important;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
	
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
	
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #000;
    position: fixed;
    height: 100%;
    z-index: 100;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    padding-top : 20px;
    background-color : #f5f6f7 ;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #000000;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 10px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 5px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: #2BBBAD;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 5%;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}
.panel{
	background-color: transparent; 
    border: none; 
    border-radius: 0px;
}
.panel-default{
	border-color: transparent !important;
}
.panel-heading{
	background-color: #000 !important;
	color : #fff !important;
	border-radius: 15px !important;
}
.panel-body{
	border-radius: 15px !important;
	background-color: #fff !important;
	border: 1px SOLID #2BBBAD !important;
}
.editEffect{
	color : #fff;
	text-shadow: none !important;
     opacity: 1 !important;
}
.subheader{
	background-color: #2BBBAD;
	color: #fff;
}
.dropdownlist{
	background-color: #fff;
	border: 1px SOLID #DDD;
	
}
.selector{
	margin: 0px !important;
	line-height : 20px !important;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.nopadding{
	padding: 0px !important;
}
.customButton{
	float :right  !important;
	line-height : 20px !important;
	color: #fff !important;
}